.toolbar {
    display: flex;
    flex-direction: column;
  }
  
  .button-container {
    margin-bottom: 8px; /* Adicione a margem desejada entre os botões */
  }

  /* app.component.css */

  .background {
    background-color: rgb(215, 208, 208) !important;
}
  
  .button-container {
    margin-bottom: 8px;
  }
  
  .mat-grid-tile {
    margin-top: 0;
  }
  
  .grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  