<div fxLayout="row wrap" fxLayout.xs="column">
  <div fxFlex="calc(50% - 16px)" style="margin-bottom: 16px;">
    <div>
      <table-list-year></table-list-year>
    </div>
  </div>

  <div fxFlex="calc(50% - 16px)" style="margin-bottom: 16px;">
    <div>
      <table-top-win></table-top-win>
    </div>
  </div>

  <div fxFlex="calc(50% - 16px)" style="margin-bottom: 16px;">
    <div>
      <table-producer></table-producer>
    </div>
  </div>

  <div fxFlex="calc(50% - 16px)" style="margin-bottom: 16px;">
    <div>
      <app-table-list-movie></app-table-list-movie>
    </div>
  </div>
</div>