.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar-logo {
  font-size: 1.5em;
  font-weight: bold;
}

.navbar-links {
  display: flex;
}

.navbar-links a {
  margin-left: 15px;
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #555;
}
