/* navbar.component.css */

/* .toolbar {
    display: flex;
    flex-direction: column;
    min-height: 80px; 
  }
  
  .mat-button {
    margin-bottom: 8px; 
  }

  .selected {
    font-weight: bold;
} */
  